body {
  min-height: 100vh;
}

.top {
  background-color: #404040;

  p {
    font-size: 12px;
    color: #cecece;
    line-height: 30px;
    span {
      color: #e6a53c;
    }
  }
}

.head {
  ul {
    text-align: center;
    font-size: 0;
    li {
      display: inline-block;
      vertical-align: middle;
      &.active {
        a {
          background-color: #d09d4a;
        }
      }
      &:before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        width: 5px;
        height: 5px;
        border-radius: 5px;
        background-color: #d09d4a;
        margin: 2px;
      }
      &:last-child:after {
        content: "";
        display: inline-block;
        vertical-align: middle;
        width: 5px;
        height: 5px;
        border-radius: 5px;
        background-color: #d09d4a;
        margin: 2px;
      }
      a {
        display: inline-block;
        vertical-align: middle;
        width: 118px;
        height: 92px;
        font-size: 16px;
        color: #222222;
        line-height: 92px;
        transition: all 0.2s;
        &:hover {
          background-color: #d09d4a;
        }
      }
      h1 {
        display: inline-block;

        a {
          padding: 0 35px;
          display: block;
          width: auto;
          img {
            vertical-align: middle;
          }
          font-size: 0;
          &:after {
            content: "";
            height: 100%;
            width: 0;
            display: inline-block;
            vertical-align: middle;
          }
          &:hover {
            background-color: #ffffff;
          }
        }
      }
    }
  }
}

.ban {
  height: 622px;
  .swiper-container {
    height: 622px;

  }
  .ban_c {
    width: 100%;
    height: 622px;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.title {
  text-align: center;
  padding-top: 70px;
  padding-bottom: 30px;
  h3 {
    font-size: 36px;
    color: #252525;
    line-height: 1;
    &:after {
      content: "";
      display: block;
      width: 73px;
      height: 3px;
      background-color: #d09d4a;
      margin: 12px auto;

    }
  }
  span {
    font-size: 14px;
    line-height: 1;
    text-align: center;
    color: #ca8007;
  }
}

.f1 {
  .fl {
    width: 573px;
    padding-top: 50px;
    h4 {
      font-size: 22px;
      color: #010101;
      line-height: 55px;
      &:after {
        content: "";
        width: 30px;
        height: 2px;
        display: block;
        background-color: #d09d4a;
      }
    }
    p {
      font-size: 14px;
      color: #161515;
      line-height: 30px;
      margin-top: 25px;
    }
    a.more {
      display: block;
      border-radius: 34px;
      text-align: center;
      border: 1px solid #d09d4a;
      width: 180px;
      height: 34px;
      //background-color: #ffffff;
      color: #d09d4a;
      line-height: 34px;
      font-size: 14px;
      margin: 25px 0;
      position: relative;
      transition: all 0.3s;
      overflow: hidden;
      &:after {
        content: "";
        display: block;
        width: 0;
        height: 100%;
        transform: skew(45deg);
        background-color: #d09d4a;
        transition: all 0.3s;
        position: absolute;
        top: 0;
        left: -10%;
        z-index: -1;
      }
      &:hover {
        &:after {
          width: 120%;
        }
        border-color: #ffffff;
        color: #ffffff;
      }
    }
    .img_wp {
      width: 260px;
      height: 145px;
      display: inline-block;
      margin-right: 24px;
      img {
        width: 100%;
        height: 100%;
        display: block;
      }
    }
  }
  .fr {
    padding: 10px;
    background-color: #d09d4a;
    margin-top: 10px;
    .fr_top {
      padding-top: 30px;
      text-align: center;
    }
    .video_wp {
      width: 540px;
      height: 340px;
      margin-top: 30px;
      position: relative;
      .play {
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: url("../images/play.jpg") no-repeat center;
      }
    }
  }
}

.img_wp {
  overflow: hidden;
  img {
    transition: all 0.3s;

  }
  &:hover {
    img {
      transform: scale(1.1);
    }
  }
}

.f2 {
  .swiper-container {
    width: 1155px;
    height: 530px;
    .des {
      padding: 20px;
      height: 300px;
      h5 {
        font-size: 20px;
        color: #0d0d0d;
        line-height: 1.5;
        text-align: center;
        margin-bottom: 20px;
      }
      p {
        margin-top: 35px;
        font-size: 14px;
        color: #ffffff;
        line-height: 1.5;
      }
    }
    .f2_item {
      width: 385px;
      height: 530px;
      overflow: hidden;
      .img {
        width: 100%;
        height: 445px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
      }
      &, * {
        transition: all 0.3s;
      }
      &:hover {
        .img {
          height: 230px;
        }
        .des {
          background-color: #d09d4a;
          h5 {
            color: #ffffff;
          }
        }
      }
    }
  }
}

.f3 {
  .list {
    overflow: hidden;
    margin-right: -65px;
    .item {
      width: 360px;
      height: 320px;
      display: inline-block;
      margin-right: 58px;
      margin-bottom: 40px;
      .img_wp {
        width: 360px;
        height: 240px;

      }
      h4 {
        padding-left: 22px;
        font-size: 16px;
        color: #9b6001;
        font-weight: bold;
        position: relative;
        line-height: 37px;
        border-bottom: 1px dotted #d09d4a;
        &:before {
          content: "";
          display: block;
          width: 6px;
          height: 6px;
          background-color: #d09d4a;
          position: absolute;
          top: 16px;
          left: 7px;
          border-radius: 6px;

        }
      }
      p {
        padding-left: 22px;
        font-size: 14px;
        color: #9c6917;
        line-height: 2;
      }
    }
  }
}

.f4 {
  .list {
    padding-bottom: 80px;
    margin-right: -30px;
    .item {
      width: 390px;
      height: 486px;
      border: 1px solid #eeeeee;
      margin-right: 15px;
      margin-bottom: 10px;
      display: inline-block;
      overflow: hidden;
      &:hover {
        box-shadow: 5px 5px 15px #eeeeee;
        .des {
          background-color: #d09d4a;
          h3 {
            color: #ffffff;
          }
          p {
            color: #ffffff;
          }
        }
      }
      .img_wp {
        width: 390px;
        height: 272px;
      }
      .des {
        padding: 23px;
        transition: all 0.3s;
        & * {
          transition: all 0.3s;
        }
        h3 {
          font-size: 18px;
          color: #da8600;
          line-height: 2;
          margin: 10px 0;
          text-align: center;
        }
        p {
          font-size: 14px;
          color: #3a3a3a;
          line-height: 2;
        }
      }
    }
  }
}

.f5 {
  height: 750px;
  background: url("../images/f5bg.jpg") no-repeat center;
  position: relative;
  .left {
    position: absolute;
    right: 50%;
    top: 0;
    background: rgba(154, 96, 5, 0.6);
    height: 100%;
    width: 50%;
  }
  .w-max {

  }
  .gy {
    width: 430px;
    position: relative;
    z-index: 1000;
    padding-top: 150px;
    p {
      font-size: 14px;
      color: #fefefe;
      line-height: 2;
    }
    .title {
      width: 170px;
      h3 {
        color: #ffffff;
      }
      span {
        color: #ffffff;
      }
      &:after {
        background-color: #ffd796;
      }
    }
  }
  .right {
    width: 55%;
    position: absolute;
    top: 0;
    left: 45%;
    height: 100%;
    z-index: 10001;
    .list {
      padding-top: 90px;
      .item {
        width: 100%;
        height: 188px;
        background-color: #ffffff;
        padding: 40px 84px;
        transition: all 0.2s;
        overflow: hidden;
        &.active {
          background: url("../images/f5textbg.jpg") no-repeat center;
          p {
            color: #ffffff;
            span {
              color: #ffffff;
            }
          }
        }
        p {
          transition: all 0.2s;
          width: 520px;
          font-size: 14px;
          color: #2d2d2d;
          line-height: 24px;
          span {
            transition: all 0.2s;
            display: block;
            color: #e09330;
            font-weight: bold;
          }
        }
      }
    }
  }
}

.f6 {
  padding-bottom: 60px;
  overflow: hidden;
  .w-max > .fl {
    width: 570px;
    .img_wp {
      width: 570px;
      height: 286px;
    }
    h3 {
      font-size: 18px;
      color: #0a0a0a;
      margin-top: 10px;
      line-height: 40px;
      a:hover {
        text-decoration: underline;
      }
    }
    span {
      font-size: 14px;
      color: #6e6e6e;
      line-height: 40px;
    }
    p {
      font-size: 14px;
      color: #434343;
      line-height: 2;
      height: 48px;
      overflow: hidden;
    }
  }
  .w-max > .fr {
    width: 570px;
    .list {
      .item {
        width: 100%;
        border-bottom: 1px dashed #d2d2d2;
        font-size: 0;
        a {
          display: inline-block;
          width: 80%;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          line-height: 55px;
          font-size: 16px;
          color: #2f2f2f;
          vertical-align: middle;
          &:hover {
            text-decoration: underline;
          }
        }
        span {
          display: inline-block;
          width: 20%;
          font-size: 14px;
          color: #7e7e7e;
          line-height: 55px;
          vertical-align: middle;
        }
      }
    }
  }
}

.f7 {
  height: 580px;
  background: url("../images/f7bg.jpg") no-repeat center;
  h3 {
    font-size: 32px;
    color: #c88518;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  .w-max {
    padding-top: 193px;
    padding-left: 63px;
  }
  p {
    font-size: 18px;
    color: #c18b33;
    line-height: 2;
  }
}

.f8 {
  border-bottom: 5px solid #d09d4a;
  .list {
    padding-top: 60px;
    padding-bottom: 60px;
    margin-right: -80px;
    .item {
      display: inline-block;
      width: 350px;
      margin-right: 80px;
      .left_icon {
        float: left;
        width: 72px;
        height: 72px;
        border: 2px solid #d09d4a;
        background: url("../images/zan.png") no-repeat center;
        border-radius: 80px;
      }
      .des {
        margin-left: 85px;
        h3 {
          font-size: 24px;
          color: #131313;
          line-height: 40px;
        }
        p {
          font-size: 14px;
          color: #484848;
          line-height: 2;
        }
      }
      &:last-child {
        margin-right: 0;
      }
      &:nth-child(2) {
        .left_icon {
          background-image: url("../images/koubei.png");
        }
      }
      &:nth-child(3) {
        .left_icon {
          background-image: url("../images/sl.png");
        }
      }
    }
  }
}

.footer {
  background-color: #404040;
  padding: 50px 0;
  .footer_logo {
    float: left;
    padding-top: 60px;
  }
  h3 {
    font-size: 16px;
    color: #ffffff;
    line-height: 2;
    &:after {
      content: "";
      display: block;
      width: 30px;
      height: 2px;
      background-color: #d09d4a;
      margin-bottom: 16px;
      margin-top: 10px;
    }
  }
  .footer_nav {
    float: left;
    margin-left: 90px;
    width: 190px;
  }
  .des {
    ul > li {
      display: inline-block;
      margin-bottom: 6px;
      a {
        font-size: 14px;
        color: #ffffff;
        line-height: 1.5;
        display: inline-block;
        margin-right: 28px;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    p {
      font-size: 14px;
      color: #fff;
      line-height: 27px;

    }
  }
  .footer_contact {
    margin-left: 92px;
    width: 340px;
  }
  .footer_ma {
    width: 125px;
    margin-left: 60px;
    img {
      width: 103px;
      height: 103px;
    }
  }
}

.copyright {
  background-color: #242424;
  padding: 20px 0;
  p {
    color: #ffffff;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
  }
}

.fixed_bar {
  position: fixed;
  left: 50%;
  margin-left: 630px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1100000;
  .list {
    .item {
      width: 57px;
      height: 57px;
      position: relative;
      margin-bottom: 2px;
      &, & * {
        transition: all 0.3s;
      }
      &:hover {
        .des {
          width: 125px;
          background-color: #d09d4a;
          padding: 10px;
        }
        .icon {
          background-color: #d09d4a;
        }
      }
      .icon {
        float: right;
        display: inline-block;
        width: 57px;
        height: 57px;
        background-color: #9b9b9b;
        background-image: url("../images/400.png");
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;
        &.qq {
          background-image: url("../images/QQ.png");
        }
        &.msg {
          background-image: url("../images/message.png");
        }
        &.wx {
          background-image: url("../images/wx.png");
        }
        &.top {
          background-image: url("../images/gotop.png");
        }
      }
      .des {
        margin-right: 57px;
        width: 0;
        //width: 125px;
        position: absolute;
        top: 0;
        right: 0;
        background-color: #ffffff;
        color: #ffffff;
        padding-top: 10px;

        min-height: 57px;
        overflow: hidden;
        p {
          width: 124px;
          font-size: 14px;
          line-height: 1.5;
        }
      }
    }
  }
}

.page_product {
  .table_nav {
    text-align: center;
    margin-bottom: 40px;
    .item {
      display: inline-block;
      font-size: 16px;
      color: #2e2e2e;
      line-height: 40px;
      cursor: pointer;
      &:after {
        content: "";
        display: block;
        width: 0;
        height: 2px;
        background-color: #b6750e;
        margin: 0 auto;
        transition: all 0.2s;
      }
      &.active, &:hover {
        &:after {
          width: 100%;

        }
      }
    }
    span {
      width: 1px;
      height: 16px;
      background-color: #000000;
      display: inline-block;
      margin: 0 15px;
      vertical-align: sub;
    }
  }
}

.page_title {
  padding-top: 40px;
  border-bottom: 1px solid #d09d4a;
  h3 {
    font-size: 30px;
    color: #ca8007;
    line-height: 1.5;
    text-transform: uppercase;
  }
  span {
    display: block;
    font-size: 24px;
    color: #010101;
    line-height: 2;
  }
  p {
    font-size: 14px;
    color: #2f2f2f;
    margin-top: 63px;
  }
}

.sub_ban {
  height: 410px;
  background-position: center;
  background-repeat: no-repeat;
}

.page_about {
  .content {
    padding-bottom: 80px;
  }
  .f1 {
    p {
      text-indent: 2em;
    }
    .fr {
      background-color: #fff;
    }
    .video_wp {

    }
  }
  .fl.section {
    width: 100%;
  }
}

.page_contact {

  .form_wp {
    width: 593px;
    padding: 30px;
    background-color: #000;
    //margin-top: 60px;
    margin: 60px 30px;
    h3 {
      text-align: center;
      font-size: 30px;
      color: #ffffff;
      line-height: 1.5;
      margin-bottom: 30px;
      text-transform: uppercase;
      span {
        font-size: 18px;
      }
    }
    .input_wp {
      margin-bottom: 30px;
      font-size: 0;
      span {
        width: 20%;
        color: #ffffff;
        font-size: 14px;
        line-height: 2;
        display: inline-block;
        vertical-align: top;
      }
      input {
        width: 80%;
        height: 48px;
        border: none;
        padding: 5px;
        font-size: 16px;
      }
      textarea {
        width: 80%;
        height: 138px;
        resize: none;
      }
    }
    .submit {
      a {
        display: block;
        width: 300px;
        height: 48px;
        background-color: #d09d4a;
        color: #ffffff;
        font-size: 14px;
        line-height: 48px;
        text-align: center;
        margin: 0 auto;
      }
    }
  }
  .text_wp {
    width: 411px;
    margin: 60px;
    h3 {
      text-align: left;
      font-size: 30px;
      color: #000;
      line-height: 1.5;
      margin-bottom: 25px;
      margin-top: 20px;
      span {
        font-size: 18px;
        text-transform: uppercase;
      }
    }
    h4 {
      font-size: 20px;
      color: #c9a063;
      line-height: 1.8;
    }
    p {
      font-size: 16px;
      color: #000;
      line-height: 1.8;
    }
    .ma_wp {
      text-align: center;
      padding-top: 50px;

      .ma {
        display: inline-block;
        width: 120px;
        text-align: center;
        margin: 20px;
        img {
          width: 78px;
          height: 78px;
          margin: 10px auto;
        }
        p {
          font-size: 14px;
          color: #2e2e2e;
          line-height: 2;
        }
      }

    }
  }
  .map_wp {
    border-top: 1px solid #d2d2d2;
    padding-top: 20px;
    float: left;
    width: 100%;
    h3 {
      font-size: 14px;
      color: #6f6f6f;
      margin-bottom: 20px;
    }
    #allmap {
      width: 100%;
      height: 430px;
      margin-bottom: 60px;
    }
  }
}

.page_brand {
  .w-max {
    padding-bottom: 100px;
  }
  .section {
    padding-top: 30px;
    font-size: 0;
    .text_wp {
      float: left;
      width: 50%;
      h3 {
        font-size: 24px;
        color: #ad6d05;
        line-height: 2;
        margin-bottom: 15px;
      }
      p {
        font-size: 14px;
        color: #252525;
        line-height: 24px;
        margin-bottom: 20px;
      }
    }
    .img_wp {
      float: left;
      width: 45%;
      margin-left: 2.5%;
      margin-top: 5%;
      margin-right: 2.5%;
    }
  }
}

.page_news {
  .news_list {
    .item {
      padding: 35px 0;
      border-bottom: 1px solid #e9e9e9;
      overflow: hidden;
    }
    .img_wp {
      float: left;
      width: 455px;
      height: 210px;
    }
    .des {
      //width: 100%;
      margin-left: 500px;
      h3 {
        font-size: 18px;
        color: #ac6a00;
        line-height: 1.5;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 15px;
        span {
          float: right;
          font-size: 14px;
          color: #7e7e7e;
        }
      }
      p {
        font-size: 14px;
        color: #444444;
        line-height: 2;
        height: 128px;
        overflow: hidden;
      }

    }
  }
  .paging {
    text-align: center;
    font-size: 0;
    margin: 60px 0 100px;
    a {
      display: inline-block;
      padding: 0 14px;
      font-size: 14px;
      line-height: 32px;
      color: #4778a2;
      border: 1px solid #4778a2;
      margin-right: -1px;
      &:hover, &.active {
        background-color: #4778a2;
        color: #ffffff;
      }
    }
  }
}

.page_college {
  .f6 {
    .section {
      overflow: hidden;
      padding-bottom: 40px;
      border-bottom:1px solid #e5e5e5;
      h5 {
        padding: 30px 0;
        &:before{
          content: "";
          height: 30px;
          display: inline-block;
          width: 4px;
          background-color: #d09d4a;
          vertical-align: middle;
        }
        p{
          display: inline-block;
          font-size: 24px;
          color: #101010;
          line-height: 30px;
          margin-left: 10px;
          margin-right: 80px;
          vertical-align: middle;
        }
        span{
          font-size: 14px;
          color: #404040;
          line-height: 30px;
          margin-right: 15px;
          vertical-align: middle;
        }
      }
    }
  }
}
.page_detail{
  .article_title{
    padding-top: 50px;
    overflow: hidden;
    border-bottom:1px solid #d09d4a;
    padding-bottom: 10px;
    p{
      font-size: 14px;
      color: #2f2f2f;
      margin-top: -23px;
    }
    h3{
      text-align: center;
      font-size: 30px;
      color: #181818;
      line-height: 1.5;
      margin-bottom: 10px;
    }
    span{
      display: block;
      text-align: center;
      font-size: 14px;
      color: #808080;
      line-height: 1.5;
    }
  }
  .article_content{
    padding:  40px;
    border-bottom:1px solid #d2d2d2;
    p{
      font-size: 14px;
      color: #414141;
      line-height: 2;
    }
    img{
      display: block;
      margin: 20px auto;

    }
  }
  .paging{
    padding-top: 22px;
    padding-left: 42px;
    padding-bottom: 60px;

      a{
        display: block;
        font-size: 14px;
        line-height: 2;
        color: #020202;
        &:hover{
          color: #d09d4a;
          text-decoration: underline;
        }
    }
  }
}